<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Enables the App Sandbox, required for the Mac App Store -->
	<key>com.apple.security.app-sandbox</key>
	<true/>

	<!-- Inherit sandbox context to child processes (like Python) -->
	<key>com.apple.security.inherit</key>
	<true/>

</dict>
</plist>
